<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
  <title>MySQL Table in Node.js</title>
</head>
<body>
  <h1>MySQL Table Data</h1>
  <table>
    <thead>
      <tr>
        <% dataKeys.forEach( (colHeader) => { %>
            <th><%= colHeader %></th>
        <% });%>
      </tr>
    </thead>
    <tbody>
      <% clientlist.forEach((client) => { %>
        <tr>
          <td><%= client.id %></td>
          <td><a href="http://localhost:3302/client/<%= client.id %>"><%= client.name %></a></td>
          <td><%= client.age %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <br>
  <button id="goBackBtn" onclick="location.href='http://localhost:3302/'">Go back</button>
</body>
</html>