<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
  <title>Client: <%= client.name %></title>
</head>
<body>
  <h1>Client: <%= client.name %></h1>
  <ul>    
    <li><b>ID:</b> <%= client.id %></li>
    <li><b>Age:</b> <%= client.age %></li>
  </ul>
  <button id="goBackBtn" onclick="location.href='http://localhost:3302/clients'">Go back</button>
  <button id="editClientBtn" onclick="location.href='http://localhost:3302/client/<%= client.id %>/edit'">Edit</button>
</body>
</html>