<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
  <title>Editing <%= client.name %></title>
</head>
    <span>Name: <input type="text" id="clientName" name="clientName" placeholder="<%= client.name %>"><br><br></span>
    <span>Age: <input type="text" id="clientAge" name="clientAge" placeholder="<%= client.age %>"><br><br></span>

    <button id="submit-btn" onclick="editClientPutRequest(client)">Submit</button>
    <button id="goBackBtn" onclick="location.href='http://localhost:3302/client/<%= client.id %>'">Go back</button>
    
    <script>
      let client = JSON.parse('<%- JSON.stringify(client) %>');
      
      function editClientPutRequest (client){
        let inputName = document.getElementById("clientName");
        let inputAge = document.getElementById("clientAge");
        
        if (client.name !== inputName.value) {
          var outputName = inputName.value;
        }
        
        if (client.age !== inputAge.value) {
          var outputAge = inputAge.value;
        }
      }
    </script>
</body>
</html>